* {
    margin: 0;
    padding: 0;
}

.home-bg {
    background-image: url("../images/etst.jpg");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100vw;
    height: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.home-nav {
    color: white;
}

.home-nav:hover {
    color: lightgray;
}

.logo-home {
    width: 12.5%;
    height: auto;
    margin-right: 0.5vw;
    padding: 0.5vw;
}

.logo {
    width: 3vw;
    height: 3vw;    
    background-image: url("../images/logo.png");
}

.logo-contact {
    width: 12.5%;
    height: auto;
    margin-right: 0.5vw;
    padding: 0.5vw;
}


div.contact-list {
    padding-left: 1.3vw;
}

div.add-contact-button {
    padding: 1.3vw;
}

#refreshSpacer {
    margin-left:5px;
}

.incorrect {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--bs-form-control-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid red;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#addForm {
    padding-left : 46px;
}

/* .search {

} */
